<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>opentyrian2000</string>
	<key>CFBundleGetInfoString</key>
	<string>OpenTyrian 2000 v2.1.0, Copyright 2022-2024 OpenTyrian2000 Team, copyright 2024 AnV Software</string>
	<key>CFBundleIconFile</key>
	<string>opentyrian2000.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.AnV.Software.OpenTyrian2000</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>OTYR</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2022-2024 OpenTyrian2000 Team, copyright 2024 AnV Software</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
</dict>
</plist>
